@import './../../styles/breakpoints';

// Contact Styles

.contact {
  grid-area: contact;
  color: var(--color-white);
  background-color: var(--color-navy-dark);
  display: grid;
  grid-template-areas:
    ". contactblock . .";
  grid-template-columns: 0 12fr 0;
  grid-column-gap: 40px;
  width: 100vw;

  @media #{$tablet} {
    grid-template-columns: 1fr minmax(min-content, 450px) minmax(min-content, 450px) 1fr;
    grid-column-gap: 20px;
  }

  @media #{$desktop} {
    grid-template-columns: 1fr minmax(min-content, 520px) minmax(min-content, 520px) 1fr;
    grid-column-gap: 40px;
  }

  @media #{$desktopxl} {
    grid-template-columns: 1fr minmax(min-content, 560px) minmax(min-content, 560px) 1fr;

  }

}

.contact-block {
  grid-area: contactblock;
  padding: 40px 0;

  .contact-block-title {
    margin-bottom: 8px;
  }

  .contact-block-blurb {
    margin-bottom: 32px;
  }

  .contact-block-list {
    padding: 0;
    list-style: none;
    column-count: 7;
  }

  @media #{$desktop} {
    padding: 60px 0 80px 0;
  }

  @media #{$desktopxl} {
    padding: 80px 0 100px 0;
  }

  .list-item-icon {
    width: 35px;
  }

}
