@import './../../styles/breakpoints';

// Main Styles

.main {
  display: grid;
  grid-template-areas:
    ". hero ."
    ". skills ."
    ". work ."
    ". blog ."
    "contact contact contact";
  grid-template-rows:
    [hero] auto
    [skills] auto
    [work] auto
    [blog] auto
    [contact] auto;
  grid-template-columns: 0 12fr 0;
  grid-column-gap: 40px;
  width: 100vw;
  min-height: 100vh;
  position: relative;

  @media #{$tablet} {
    grid-template-areas:
      ". hero hero ."
      ". skills skills ."
      ". work work ."
      ". . blog ."
      "contact contact contact contact";
    grid-template-rows:
      [hero] 650px
      [skills] auto
      [work] auto
      [blog] auto
      [contact] auto;
    grid-template-columns: 0 5fr 7fr 0;  
    grid-column-gap: 20px;
  }

  @media #{$desktop} {
    grid-template-columns: 0 6fr 6fr 0; 
    grid-column-gap: 40px;
  }

  @media #{$desktopxl} {
    grid-template-rows:
      [hero] 750px
      [skills] auto
      [work] auto
      [blog] auto
      [contact] auto;
  }

}
